:root {
  --background-color: #341883;
  --font-color: #fff;
}

.App-header {
  background: var(--background-color);
  color: var(--font-color);
  padding: 10px 0 10px 0;
  width: 100%;
  text-align: center;
  min-height: 50px;
}

.App-title {
  font-size: 1.5em;
  letter-spacing: 2px;
}

.error-loading {
  margin-top: 30px;
  text-align: center;
  color: var(--font-color);
}

.error-msg {
  font-size: 0.8em;
}
