:root {
  --background-color: #341883;
  --font-color: #fff;
}

.App-header {
  background: var(--background-color);
  color: var(--font-color);
  text-align: center;
  height: 80px;
  padding: 20px 0 20px 0;
}

.App-title {
  font-size: 1.5em;
  letter-spacing: 2px;
}

.error-loading {
  margin-top: 30px;
  text-align: center;
  color: var(--font-color);
}

.error-msg {
  font-size: 0.8em;
}


#map {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #ccc;
}
